@model School.web.ViewModel.createTeacherViewModel

<form id="frmcat" class="form-control">
    <div class="row">
        <div class="col-md-8">

            <div class="form-group">
                <label>Country</label>
                <select name="CountryId" class="form-control" id="changeStatus">
                    <option value="">---Select Country---</option>
                    @foreach (var item in Model.Countries)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>


            </div>
            <div class="form-group">
                <label>City</label>

                <select name="CityId" class="form-control" id="CityCombo">
                    <option value="">---Select City---</option>
                </select>


            </div>

            <div class="form-group">
                <label>School</label>

                <select name="SchoolId" class="form-control" id="SchoolCombo">
                    <option value="">---Select School---</option>
                </select>


            </div>

             <div class="form-group">
                <label>Subject</label>

                <select name="SubId" class="form-control" id="SubId">
                    <option value="">---Select Subject---</option>
                    @foreach (var item in Model.subjects)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>


            </div>

            <div class="form-group">
                <label>Name <span class="text-danger">*</span></label>
                <input name="Name" class="form-control" placeholder="Name" id="NameId" />
            </div>

            <div class="form-group">
                <label>Gender <span class="text-danger">*</span></label>
                <input name="Gender" class="form-control" placeholder="Gender" id="GenderId" />
            </div>
            <div class="form-group">
                <label>Contact <span class="text-danger">*</span></label>
                <input name="Subject" class="form-control" placeholder="Subject" id="SubjectId" />
            </div>
            <div class="form-group">
                <label>Address <span class="text-danger">*</span></label>
                <textarea name="Address" class="form-control" placeholder="Address" id="Addressess" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Parent-Image <span class="text-danger">*</span></label>
                <input type="hidden" name="ImageUrl" id="ImageUrls" />
                <input type="file" id="imageupload" class="form-control" />
                <img id="showImage" class="form-control" style="width:300px;height:250px" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <button type="button" id="btnsave" class="btn btn-primary">
                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                Save
            </button>
        </div>
    </div>
</form>

<script>
     $("#imageupload").change(function () {
        var element = this;
        var formData = new FormData();
        var totalFiles = element.files.length;
        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("Photo", file);
        }

         $.ajax({
            type: 'POST',
             url: '@Url.Action("uploadImage", "Shared")',
             data: formData,
             dataType: 'json',
             contentType: false,
             processData: false

         }).done(function (response) {
             debugger;
             if (response.Success) {
                 $("#showImage").attr("src", response.Imageurl);
                 $("#ImageUrls").val(response.Imageurl);
             }


        }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("F");
        });
    });


    $("#btnsave").click(function () {
        debugger;
            var v = $("#CityCombo").val();
            var x = $("#SchoolCombo").val();
            var t = $("#SubId").val();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Create","Teacher")',
            data: {
                CityId : v,
                Name: $("#NameId").val(),
                Subject: $("#SubjectId").val(),
                SchoolId:x,
                Addresses: $("#Addressess").val(),
                gender: $("#GenderId").val(),
                ImageUrl: $("#ImageUrls").val(),
                SubId: t
            }

        }).done(function (response) {
            $("#tblcat").html(response);
           window.location = "@Url.Action("Index","Teacher")";


        }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("F");
        });

    });

    $("#changeStatus").change(function () {
        debugger;
        var v = $("#changeStatus").val();
        $.ajax({
            type:'GET',
                 url: '@Url.Action("GetCity", "School")',
            contentType:'html',
                    data: {

                        Id: v
                    }


             }).done(function (response) {

                     $("#CityCombo").empty();
                     $("#CityCombo").append(response)


                }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    swal({
                        title: "Failed",
                        text: "Some Error Occured! We will Fix Them Soon ",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                    });
                });
    });


    $("#CityCombo").change(function () {

        var v = $("#CityCombo").val();
        $.ajax({
            type:'GET',
                 url: '@Url.Action("GetSchool", "Teacher")',
            contentType:'html',
                    data: {

                        Id: v
                    }


             }).done(function (response) {

                 $("#SchoolCombo").empty();
                 $("#SchoolCombo").append(response)


                }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    swal({
                        title: "Failed",
                        text: "Some Error Occured! We will Fix Them Soon ",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                    });
                });
    });

</script>

