@model School.web.ViewModel.EditSchool

<form method="post" id="frmcedit" class="form-control">
    <div class="row">

        <div class="col-md-10">
            <input type="hidden" name="Id" value="@Model.Id" id="itemId" />
            <div class="form-group">
                <label>Country</label>
                <select name="CountryId" class="form-control" id="changeStatus">

                    @foreach (var item in Model.AvailableCountry)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>


            </div>
            <div class="form-group">
                <label>City</label>
                <select name="CityId" class="form-control" id="CityCombo">

                    <option value="@Model.CityId">@Model.CityName</option>

                </select>


            </div>
            <div class="form-group">
                <label>Name</label>
                <input name="Name" value="@Model.Name" class="form-control" />
            </div>
            <div class="form-group">
                <label>Principal <span class="text-danger">*</span></label>
                <input name="Principal" id="PrincipalId" class="form-control" value="@Model.Pricipal" />
            </div>
            <div class="form-group">
                <label>Address <span class="text-danger">*</span></label>
                <textarea name="Address" class="form-control" value="@Model.Address" id="Addressess" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <button type="button" id="btnupto" class="btn btn-default"> <i class="fa fa-wrench" aria-hidden="true"></i>Save</button>
        </div>
    </div>
</form>

<script>
     $("#btnupto").click(function () {
         var v = $("#CityCombo").val();
         $.ajax({
             type: 'POST',
             url: '@Url.Action("Edit","School")',
             data: {
                 id: $("#itemId").val(),
                 CityId: v,
                 Name: $("#NameId").val(),
                 Principal: $("#PrincipalId").val(),
                 Address: $("#Addressess").val()
             }

        }).done(function (response) {
            $("#tblcat").html(response);
            $("#newatncon").html("");
            window.location = "@Url.Action("Index", "School")";

        }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Fut");
        });

    });

     $("#changeStatus").change(function () {

        var v = $("#changeStatus").val();
        $.ajax({
            type:'GET',
                 url: '@Url.Action("GetCity", "School")',
            contentType:'html',
                    data: {

                        Id: v
                    }


             }).done(function (response) {

                     $("#CityCombo").empty();
                     $("#CityCombo").append(response)


                }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    swal({
                        title: "Failed",
                        text: "Some Error Occured! We will Fix Them Soon ",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                    });
                });
    });

</script>
